{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление Личными Финансами</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="{% static 'main/js/transactions.js' %}"></script>
</head>
<body>
    <header>
        <h1>Управление Личными Финансами</h1>
        <nav>
            <ul>
                <li><a href="#dashboard">Главная</a></li>
                <li><a href="#transactions">Транзакции</a></li>
                <li><a href="#reports">Отчеты</a></li>
                <li><a href="#settings">Настройки</a></li>
                <li><a href="#safe">Отложенные средства</a></li>
                <li><a href="#planning">Планирование</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <section id="dashboard">
            <h2>{{username}}</h2>
            <h2>Панель управления</h2>
            <div class="finance-summary">
                <div class="card">
                    <h3>Баланс</h3>
                    <p class="amount">+45,300 ₽</p>
                </div>
                <div class="card">
                    <h3>Расходы на текущий месяц</h3>
                    <p class="amount">-15,200 ₽</p>
                </div>
                <div class="card">
                    <h3>Доходы на текущий месяц</h3>
                    <p class="amount">+60,500 ₽</p>
                </div>
            </div>
            <button class="add-button">Добавить транзакцию</button>
            <button class="add-button">Загрузить из файла банковской выписки</button>
        </section>

        <section id="transactions">
            <h2>Транзакции за текущий месяц</h2>
            <table>
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Описание</th>
                        <th>Сумма</th>
                        <th>Тип</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rec in transactions %}
                        <tr>
                            <td>{{rec.event_date | date:"d.m.Y"}}</td>
                            <td>{{rec.description}}</td>
                            <td>{{rec.summa}}</td>
                            <td>{{rec.movetype}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </section>

        <section id="reports">
            <h2>Отчеты</h2>
            <p>Здесь будут ваши отчеты по финансам</p>
        </section>


    </main>

    <div class="new_transaction_form">
    <form action="#" id="transactions_form" method="post">
        <input type="date" name="event_date" id="event_date">
        <input type="text" name="summa" id="summa">
        
        <select name="category" id="category">
            {% for cat in categories %}
                <option value="{{cat.id}}">{{cat.name}}</option>
            {% endfor %}
        </select>
        
        <select name="movetype" id="movetype">
            {% for mt in move_types %}
                <option value="{{mt.id}}">{{mt.name}}</option>
            {% endfor %}
        </select>
        
        <select name="moneytype" id="moneytype">
            {% for mon_t in money_types %}
                <option value="{{mon_t.id}}">{{mon_t.name}}</option>
            {% endfor %}
        </select>
        
        <input type="text" placeholder="Описание" name="description" id="description">
        <input type="hidden" name="url" value="{% url 'TransactionsManage' %}">

        

    </form>   

    <input type="button" onclick='add_transaction()' value="Добавить">

    </div>


    <footer>
        <p>&copy; 2023 Управление Личными Финансами. Все права защищены.</p>
    </footer>
</body>
</html>